[submodule "themes/compose"]
	path = themes/compose
	url = https://github.com/onweru/compose
[submodule "themes/hugo-theme-tokiwa"]
	path = themes/hugo-theme-tokiwa
	url = https://github.com/heyeshuang/hugo-theme-tokiwa.git
[submodule "themes/FixIt"]
	path = themes/FixIt
	url = https://github.com/hugo-fixit/FixIt.git
